:root{
    --primary-font: "DM Sans", sans-serif;
    --black: #3E1E68;
    --gray: #5D2F77;
    --gray-100: #FFACAC;
    --card-radius: 15px;
    --btn-radius: 12px;
    --space: 30px;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scrollbar-width: thin;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
    font-smooth: antialiased; /* Non-standard, for broader (but limited) support */
}

body{
    font-family: var(--primary-font);
    font-size: 16px;
    color: var(--gray-100);
    line-height: 1.3;
    font-weight: 400;
    background-color: var(--black);
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

ul,
ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

